# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.env
.venv/
venv/
ENV/
env/

# =========================
# Streamlit
# =========================
.streamlit/secrets.toml

# =========================
# IDEs & Editors
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Build / Cache
# =========================
build/
dist/
.cache/
.pytest_cache/
.mypy_cache/

# =========================
# Node (if any frontend later)
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# API Keys / Secrets
# =========================
*.key
*.pem
*.crt
*.env


week4
.week4
week4/

